# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="somesecret"

GOOGLE_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-xxxxxxxxxxxxxxxxx"

# -----------------------------------------------------------------------------
# Database (PostgreSQL)
# -----------------------------------------------------------------------------
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/campusorbit"

# -----------------------------------------------------------------------------
# Caching (Redis)
# -----------------------------------------------------------------------------
REDIS_URL="redis://redis:6379"

# -----------------------------------------------------------------------------
# Image Upload (UploadThinng)
# -----------------------------------------------------------------------------
UPLOADTHING_SECRET="sk_live_f6fc9944cb8d219b12e52997e8cd3c277aeb17a758bbfade110fe3e7839c4361"
UPLOADTHING_APP_ID="v9uuwk41qo"
